<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.boubix.premiertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/manette"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/manette_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PremierTest">
        <activity
            android:name=".EndPianoActivity"
            android:exported="false" />
        <activity
            android:name=".PianoTilesActivity"
            android:exported="false" />
        <activity
            android:name=".OptionActivity"
            android:exported="false" />
        <activity
            android:name=".EndCookieActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressionActivity"
            android:exported="false" />
        <activity
            android:name=".EndActivity"
            android:exported="false" />
        <activity
            android:name=".MultiPointActivity"
            android:exported="false" />
        <activity
            android:name=".CookieActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>